body {
  font-family: 'Open Sans', sans-serif
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 200;
}

/* Navigation */
.navigation {
  background-color: #0069b4;
  border-bottom: 0.0625rem solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

.navigation-avatar {
  background-color: white;
  border-radius: 50%;
  color: #0069b4;
  display: inline-block;
  padding: 0.9375rem 1rem;
  position: relative;
  right: 0;
  vertical-align: middle;
}

.user-menu-items {
  background-color: white;
}

.user-profile {
  display: inline-block;
  height: 3rem;
  left: 70%;
  position: relative;
}

.quickLinkMenu {
  position: relative;
}

.quicklink-menu-item-icon {
  padding: 0.25rem 1rem;
  display: inline-block;
  position: relative;
}


/* Sidebar */
.siderbar {
  background-color: #003e6b;
  color: white;
  font: 'Open Sans';
  height: 100%;
  left: 0;
  position: absolute;
  top: 3rem;
  width: 13.75rem;
  z-index: 2;
}

.sidebar-item-title {
  display: block;
  position: relative;
  padding: 1.875rem 1rem 1.25rem;
}

.sidebar-search {
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  height: 2.5rem;
  position: relative;
  text-align: left;
  width: 12rem;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 0.9375rem;
  height: 2.5rem;
  padding: 0 1rem;
  text-align: center;
}

.dashboard-options {
  padding-bottom: 1rem;
}

.dashboard-btn {
  background-color: #52b788;
  height: 2.5rem;
  position: relative;
  text-align: left;
  width: 12rem;
}

.dashboard-btn__courses {
  background-color: #0069b4;
  height: 2.5rem;
  position: relative;
  text-align: left;
  width: 12rem;
}

.dashboard-btn__filter {
  background-color: transparent;
  height: 2.5rem;
  position: relative;
  text-align: left;
  width: 12rem;
}

.dashboard-btn__filter:hover {
  background-color: #0069b4;
}

.backtest-btn {
  background-color: #ef476f;
  height: 2.5rem;
  position: relative;
  text-align: left;
  width: 12rem;
}

.icon-btn {
  padding-right: 0.625rem;
}

/* AppContainer */

.app-container {
  background-color: #f6f6f6;
  height: 100%;
  left: 13.75rem;
  position: absolute;
  top: 3rem;
  width: 100%;
}

.location-title {
  background-color: white;
  color: #3e4960;
  height: 4.5rem;
  left: 13.75rem;
  padding-left: 1rem;
  position: fixed;
  top: 3rem;
  width: 100%;
}

.preview-btn {
  background-color: #ff9f1c;
  border: 0.0625rem solid;
  bottom: 3.5rem;
  box-shadow: 0.1875rem 0.1875rem #888888;
  height: 2.5rem;
  left: 55%;
  padding: 0.625rem;
  position: relative;
  text-align: left;
  width: 12rem;
}

.download-btn {
  background-color: #50514f;
  border: 0.0625rem solid;
  bottom: 6rem;
  box-shadow: 0.1875rem 0.1875rem #888888;
  height: 2.5rem;
  left: 69%;
  padding: 0.625rem;
  position: relative;
  text-align: left;
  width: 12rem;
}